@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
img {
  max-width: 100%;
}

* {
  font-family: 'Poppins', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header .header-top {
  background-color: #1c1c1c;
  font-size: 14px;
}

header .header-top .container .row ul {
  list-style: none;
}

header .header-top .container .row ul a {
  text-decoration: none;
  color: #fff;
}

header .header-top .container .row .top-left ul li {
  margin-right: 45px;
}

header .header-top .container .row .top-left ul li a {
  display: inline-block;
  padding: 20px 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

header .header-top .container .row .top-left ul li:hover a {
  color: #2cbdb8;
}

header .header-top .container .row .top-right {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

header .header-top .container .row .top-right .lang-options {
  cursor: pointer;
  margin-right: 20px;
  padding: 20px;
  position: relative;
}

header .header-top .container .row .top-right .lang-options i {
  font-size: 10px;
}

header .header-top .container .row .top-right .lang-options img {
  margin-right: 2px;
}

header .header-top .container .row .top-right .lang-options .sub-menu {
  position: absolute;
  z-index: 9;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  opacity: 0;
  visibility: hidden;
  margin-top: 50px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

header .header-top .container .row .top-right .lang-options .sub-menu a {
  display: block;
  font-size: 14px;
  color: #222;
  padding: 10px 20px;
  background-color: #fff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

header .header-top .container .row .top-right .lang-options .sub-menu a:hover {
  color: #2cbdb8;
}

header .header-top .container .row .top-right .lang-options:hover .sub-menu {
  margin-top: 10px;
  opacity: 1;
  visibility: visible;
}

header .header-top .container .row .top-right a {
  color: #fff;
  text-decoration: none;
  padding: 20px 30px;
  background-color: #2cbdb8;
}

header .header-top .container .row .top-right i, header .header-top .container .row .top-right span {
  color: #fff;
  text-decoration: none;
}

header .header-top .container .row .top-right span:hover {
  cursor: pointer;
}

header .header-bottom .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header-bottom .row .logo {
  padding: 36px 0;
}

header .header-bottom .row ul {
  list-style: none;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

header .header-bottom .row ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 45px;
}

header .header-bottom .row ul li .icon {
  border: 2px solid #d5f2f1;
  padding: 10px 15px;
  margin-right: 14px;
}

header .header-bottom .row ul li .icon i {
  color: #2cbdb8;
  font-size: 20px;
}

header .header-bottom .row ul li .content p {
  margin-bottom: 0;
}

header .header-bottom .row ul li .content span {
  font-size: 14px;
  color: #707079;
  line-height: 15px;
  display: inline-block;
}

header .hiddentop .row {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .hiddentop .row .logo {
  padding: 36px 0;
}

header .hiddentop .row .div-button {
  display: inline-block;
  border: 1px solid #2cbdb8;
  padding: 5px 10px;
}
/*# sourceMappingURL=style.css.map */