@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
img{
    max-width:100%;
}
*{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
ul{
    list-style: none;
} 
$maincolor: #2cbdb8;

header{
    .header-top{
        background-color: #1c1c1c;
        font-size: 14px;
        .container{
            .row{
                ul{
                    list-style: none;
                    a{
                        text-decoration: none;
                        color: #fff;
                    }
                }
                .top-left{
                        ul{
                            li{
                                margin-right:45px;
                                a{
                                    display: inline-block;
                                    padding: 20px 0;
                                    transition: all 0.3s;
                                }
                            }
                            li:hover a{
                                color: $maincolor;
                            }
                        }
                }
                .top-right{
                    justify-content: flex-end;
                    .lang-options{
                        cursor: pointer;
                        margin-right: 20px;
                        padding: 20px;
                        position: relative;
                            i{
                                font-size: 10px;
                            }
                            img{
                                margin-right: 2px;
                            }
                        .sub-menu{
                            position: absolute;
                            z-index: 9;
                            background-color: #fff;
                            border: 1px solid #e5e5e5;
                            opacity:0;
                            visibility: hidden;
                            margin-top:50px;
                            transition: all 0.3s;
                            a{
                                display: block;
                                font-size: 14px;
                                color: #222;
                                padding: 10px 20px;
                                background-color: #fff;
                                transition: all 0.3s;
                            }
                            a:hover{
                                color: $maincolor;
                            }
                        }
                    }
                    .lang-options:hover .sub-menu{
                        margin-top: 10px;
                        opacity: 1;
                        visibility: visible;
                    }
                    a{
                        color: #fff;
                        text-decoration: none;
                        padding: 20px 30px;
                        background-color: $maincolor;
                    } 
                    i,span{
                        color: #fff;
                        text-decoration: none;
                    }                    
                    span:hover{
                        cursor: pointer;
                    }
                }
            }
        }
    }
    .header-bottom{
        .row{
            align-items: center;
            .logo{
                padding:36px 0;
            }
            ul{
                list-style: none;
                justify-content: flex-end;
                li{
                    display:flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-left:45px;
                    .icon{
                        border: 2px solid #d5f2f1;
                        padding: 10px 15px;
                        margin-right: 14px;
                        i{
                            color: $maincolor;
                            font-size: 20px;
                        }
                    }
                    .content{
                        p{
                            margin-bottom:0;
                        } 
                        span{
                            font-size: 14px;
                            color: #707079;
                            line-height: 15px;
                            display: inline-block;
                        }
                    }
                }
            }
        }
    }
    .hiddentop{
        .row{
            justify-content: space-between;
            align-items: center;
            .logo{
                padding: 36px 0;
            }
            .div-button{
                display: inline-block;
                border: 1px solid $maincolor;
                padding: 5px 10px;
            }
        }
    }
}
section.carousel{
    padding: 125px 0;
    background-image: url(../img/hero-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    .container{
        i{
            color: $maincolor;
        }
        .row{
            justify-content: center;
            .col-10{
                text-align: center;
                .house-info{
                    background-color: rgba(28,28,28,.6);
                    padding: 44px 0;
                    
                }
                .house-name{
                    span{
                        font-size: 14px;
                        color: #aaaab3;
                    }
                    h2{
                        font-size: 44px;
                        color: #fff;
                        font-weight: 600;
                        margin-top: 15px;
                        margin-bottom: 20px;
                    }
                    p{
                        font-size: 22px;
                        color: #fff;
                        font-weight: 600;
                        span{
                            margin-right: 10px;
                        }
                    }
                }
                .house-properties{
                    margin-top: 45px;
                   ul{
                       justify-content: center;
                       li{
                           margin-right: 65px;
                       }
                       i{
                           font-size: 24px;
                       }
                       p{
                        font-size: 14px;
                        color: #fff;
                       }
                   }
                }
            }
        }
    }
}