@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
img {
  max-width: 100%;
}

* {
  font-family: 'Poppins', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  list-style: none;
}

a:hover {
  text-decoration: none;
}

header .header-top {
  background-color: #1c1c1c;
  font-size: 14px;
}

header .header-top .container .row ul {
  list-style: none;
}

header .header-top .container .row ul a {
  text-decoration: none;
  color: #fff;
}

header .header-top .container .row .top-left ul li {
  margin-right: 45px;
}

header .header-top .container .row .top-left ul li a {
  display: inline-block;
  padding: 20px 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

header .header-top .container .row .top-left ul li:hover a {
  color: #2cbdb8;
}

header .header-top .container .row .top-right {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

header .header-top .container .row .top-right .lang-options {
  cursor: pointer;
  margin-right: 20px;
  padding: 20px;
  position: relative;
}

header .header-top .container .row .top-right .lang-options i {
  font-size: 10px;
}

header .header-top .container .row .top-right .lang-options img {
  margin-right: 2px;
}

header .header-top .container .row .top-right .lang-options .sub-menu {
  position: absolute;
  z-index: 9;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  opacity: 0;
  visibility: hidden;
  margin-top: 50px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

header .header-top .container .row .top-right .lang-options .sub-menu a {
  display: block;
  font-size: 14px;
  color: #222;
  padding: 10px 20px;
  background-color: #fff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

header .header-top .container .row .top-right .lang-options .sub-menu a:hover {
  color: #2cbdb8;
}

header .header-top .container .row .top-right .lang-options:hover .sub-menu {
  margin-top: 10px;
  opacity: 1;
  visibility: visible;
}

header .header-top .container .row .top-right a {
  color: #fff;
  text-decoration: none;
  padding: 20px 30px;
  background-color: #2cbdb8;
}

header .header-top .container .row .top-right i, header .header-top .container .row .top-right span {
  color: #fff;
  text-decoration: none;
}

header .header-top .container .row .top-right span:hover {
  cursor: pointer;
}

header .header-bottom .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header-bottom .row .logo {
  padding: 36px 0;
}

header .header-bottom .row ul {
  list-style: none;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

header .header-bottom .row ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 45px;
}

header .header-bottom .row ul li .icon {
  border: 2px solid #d5f2f1;
  padding: 10px 15px;
  margin-right: 14px;
}

header .header-bottom .row ul li .icon i {
  color: #2cbdb8;
  font-size: 20px;
}

header .header-bottom .row ul li .content p {
  margin-bottom: 0;
}

header .header-bottom .row ul li .content span {
  font-size: 14px;
  color: #707079;
  line-height: 15px;
  display: inline-block;
}

header .hiddentop .row {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .hiddentop .row .logo {
  padding: 36px 0;
}

header .hiddentop .row .div-button {
  display: inline-block;
  border: 1px solid #2cbdb8;
  padding: 5px 10px;
}

section.carousel {
  padding: 125px 0;
  background-image: url(../img/hero-2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}

section.carousel .container i {
  color: #2cbdb8;
}

section.carousel .container .row {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section.carousel .container .row .col-10 {
  text-align: center;
}

section.carousel .container .row .col-10 .house-info {
  background-color: rgba(28, 28, 28, 0.6);
  padding: 44px 0;
}

section.carousel .container .row .col-10 .house-name span {
  font-size: 14px;
  color: #aaaab3;
}

section.carousel .container .row .col-10 .house-name h2 {
  font-size: 44px;
  color: #fff;
  font-weight: 600;
  margin-top: 15px;
  margin-bottom: 20px;
}

section.carousel .container .row .col-10 .house-name p {
  font-size: 22px;
  color: #fff;
  font-weight: 600;
}

section.carousel .container .row .col-10 .house-name p span {
  margin-right: 10px;
}

section.carousel .container .row .col-10 .house-properties {
  margin-top: 45px;
}

section.carousel .container .row .col-10 .house-properties ul {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section.carousel .container .row .col-10 .house-properties ul li {
  margin-right: 65px;
}

section.carousel .container .row .col-10 .house-properties ul li:last-child {
  margin: 0;
}

section.carousel .container .row .col-10 .house-properties ul i {
  font-size: 24px;
}

section.carousel .container .row .col-10 .house-properties ul p {
  font-size: 14px;
  color: #fff;
}

section.carousel .container .row .house-image {
  margin-top: 100px;
}

section.carousel .container .row .house-image div {
  border-left: 3px solid #fff;
  border-top: 3px solid #fff;
  border-bottom: 3px solid #fff;
}

section.carousel .container .row .house-image div:last-child {
  border-right: 3px solid #fff;
}

section.search-home {
  margin-top: -50px;
}

section.search-home .row .col-6 {
  padding: 0;
  font-family: 'Poppins', sans-serif;
  color: #fff;
  text-transform: uppercase;
}

section.search-home .row .col-6 .find-y-home {
  background-color: #2cbdb8;
  padding: 13px 30px;
}

section.search-home .row .col-6 .house-for-sell {
  background-color: #2c2c2c;
  padding: 13px 30px;
}

section.search-home .row.search {
  padding-bottom: 30px;
  -webkit-box-shadow: -1px -1px 21px -1px rgba(0, 0, 0, 0.75);
  box-shadow: -1px -1px 21px -1px rgba(0, 0, 0, 0.75);
}

section.search-home .row.search .col-12 {
  margin-top: 30px;
}

section.search-home .row.search a:hover .submenu {
  opacity: 1;
  visibility: visible;
}

section.search-home .row.search a:hover .selector i {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

section.search-home .row.search .selector {
  background: #f2f4f5;
  border: 1px solid #ebebeb;
  color: #707079;
  padding: 10px 15px;
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.search-home .row.search .selector i {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

section.search-home .row.search .selector .submenu {
  padding: 10px 15px;
  position: absolute;
  z-index: 99;
  top: 70%;
  left: 0;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

section.search-home .row.search .selector .submenu ul {
  background: #f2f4f5;
  border: 1px solid #ebebeb;
  font-size: 14px;
  color: #000;
  font-weight: 900;
}

section.search-home .row.search .selector .submenu ul li {
  padding: 5px 10px;
}

section.search-home .row.search .search-prop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 15px;
  background-color: #2cbdb8;
  color: #fff;
}

@media (min-width: 240px) and (max-width: 768px) {
  .house-properties li {
    margin-right: 25px !important;
  }
  .house-properties li:last-child {
    margin: 0 !important;
  }
}

@media (min-width: 240px) and (max-width: 480px) {
  .house-image {
    display: none !important;
  }
  .search-home .col-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */